.info-text::after {
    content: '2ND YEAR CS & MUSIC @ UOFT';
    transition: opacity 1s ease-in-out;
  }
  
  .info-text:hover::after {
    content: 'desperate for experience';
    opacity: 1;
    animation: blinker 3s linear infinite;
  }

  .info-text{
    width: 100%;
    opacity: 1;
    font-size: x-large;
    animation: blinker 3s linear infinite;
  }

  .city-bg{
    background-position-x: 50%;
    background-repeat: repeat-x;
    background-size: 36rem 36rem;
    background-position-y: 50%;
    object-fit: cover;
    animation: move 90s ease-in-out infinite;
    filter: contrast(160%) brightness(600%);
  }

  #text-box{
    padding: 24px;
    mix-blend-mode: hard-light;
  }

  .dark{
    filter: brightness(0%);
  }
  .light{
    filter: brightness(100%);
  }

@keyframes blinker {  
    50% {
        opacity: 0.5;
    }
}

@keyframes move {
  50% {
      background-position-x: 20%  ;
  }
}