.info-text::after {
    content: '2ND YEAR CS & MUSIC @ UOFT';
    transition: opacity 1s ease-in-out;
  }
  
  .info-text:hover::after {
    content: 'desperate for experience';
    opacity: 1;
    animation: blinker 3s linear infinite;
  }

  .info-text{
    opacity: 1;
    animation: blinker 3s linear infinite;
  }

  .city-bg{
    background-position-x: 50%;
    background-repeat: repeat-x;
    animation: move 100s ease-in-out infinite;
  }

  .dark{
    filter: brightness(0%);
  }
  .light{
    filter: brightness(100%);
  }

@keyframes blinker {  
    50% {
        opacity: 0.5;
    }
}

@keyframes move {
  50% {
      background-position-x: 20%  ;
  }
}