

#center-div{
    width: 100%;
    margin-top: 20rem;
    display: flex;
    justify-content: center;
    margin-bottom: 20rem;
    color: white;
    text-align: center;
}

.about-container{
    background-color: rgba(10, 134, 52, 0.8);
    border-radius: 20px;
    width: 992px;
    display: flex;
    box-shadow: 5px 10px #026b1e;
}

.left-column{
    padding:.25in;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    
}

.img-container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
    margin: 1rem;
}

.right-column{
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-weight: 200;
    font-size: 16px;
}

.right-column .title{
    font-size: 42px;
    margin: 12px;
    

}

.below-img-container{
    text-align: center;
}

/* BREAK POINTS */
@media(max-width: 768px) {

    .about-container{
        flex-direction: column;
        align-items: center;
    }

    .right-column{
        margin-top: -24px;

        text-align: center;
    }

    .img-container img{
        width: 200px;
        height: 200px;
    }
    .left-column{
        font-size: 16px;
    }
    
}

