.title-container{
    text-align: center;
    color: white;
    font-size: xx-large;
    background-color: rgba(2, 107, 30, 0.9);
    padding: 40px;
    width: 400px;
    border: 2px dotted;
    font-size: x-large;
}

.body-container{
    color: white;
    background-color: black;
    text-align: center;
}

.super-container{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}