@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  height:100vh;
  display: flex;
}

body{
  background-color: black;
  width: 100%;
}

#root {
  margin: 0 auto;

  text-align: center;
}

.container {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}